$aui-pagination-color: $aui-color-gray50;
$aui-pagination-color-active: $aui-color-white;

.aui-pagination {
  &.aui-theme-light {
    color: $aui-pagination-color;

    .aui-pagination__link.is-active,
    .aui-pagination__link:hover:not(.is-disabled),
    .aui-pagination__next:hover:not(.is-disabled),
    .aui-pagination__prev:hover:not(.is-disabled), {
      color: $aui-pagination-color-active;
    }

    .aui-pagination__indicator {
      background: $aui-pagination-color-active;
    }
  }
}
