// Import Audi Type:
$auditype-font-src: '../fonts';
@import '/node_modules/audi-type/dist/css/audi-type.css';

// Import Audi Icon:
@import '/node_modules/audi-icon/dist/css/audi-icon.css';

// Import library requirements:
@import '../../../src/requirements';

// Import Audi UI library:
@import '../../../src/index';

// Import and define demo stuff:
$demo-highlight: #0096ED;
$demo-highlight-opacity: 1;
@import 'mixins';
@import 'components/align';
@import 'components/color';
@import 'components/control';
@import 'components/header';
@import 'components/main';
@import 'components/nav';
@import 'components/section';
@import 'components/snippet';
@import 'components/spacing';
