html {
  @include aui-responsive-type(0, 1.75);
}

body {
  font-family: $aui-font-default;
  font-weight: $aui-font-weight-light;
  color: $aui-color-body;
}

.aui-display {
  &-1,
  &-2 {
    font-family: $aui-font-extended;
    font-variation-settings: $aui-font-extended-width;
    font-weight: $aui-font-weight-bold;
    letter-spacing: -0.015em;

    &--normal {
      font-weight: $aui-font-weight-normal;
    }
  }

  &-1 {
    @include aui-responsive-type(8, 1.1);
    color: $aui-color-black;

    &--white {
      color: $aui-color-white;
    }
  }

  &-2 {
    @include aui-responsive-type(8, 1.1);
    color: $aui-color-gray20;

    &--light-gray {
      color: $aui-color-gray95;
    }
  }

  .aui-color-text-light &-1 {
    color: $aui-color-white;
  }

  &-2 {
    @include aui-responsive-type(5, 1.2);
  }
}

.aui-headline {
  &-1,
  &-2,
  &-3,
  &-4
  {
    font-family: $aui-font-extended;
    font-variation-settings: $aui-font-extended-width;
    font-weight: $aui-font-weight-bold;
    color: $aui-color-gray20;
    letter-spacing: -0.015em;

    &--normal {
      font-weight: $aui-font-weight-normal;
    }
  }

  &-6 {
    font-family: $aui-font-default;
  }

  &-1 {
    @include aui-responsive-type(2, 1.2);
  }

  .aui-color-text-light &-1,
  .aui-color-text-light &-2,
  .aui-color-text-light &-3,
  .aui-color-text-light &-4 {
    color: $aui-color-gray95;
  }

  &-2 {
    @include aui-responsive-type(1, 1.2);
  }

  &-3 {
    @include aui-responsive-type(0, 1.33);
  }

  &-4 {
    @include aui-responsive-type(-1, 1.5);

    &--normal {
      font-weight: 504;
    }
  }
}

.aui-copy {
  &-1,
  &-2,
  &-3
  {
    strong,
    bold,
    &--bold {
      font-weight: $aui-font-weight-bold;
    }
  }

  &-1 {
    font-size: 16px;
    line-height: 1.75;
  }

  &-2 {
    font-size: 12px;
    line-height: 1.75;
  }

  &-3 {
    font-size: 10px;
    line-height: 1.5;
  }

  .aui-color-text-light &-1,
  .aui-color-text-light &-2,
  .aui-color-text-light &-3 {
    color: $aui-color-gray95;
  }
}

.aui-shortread {
  @include aui-responsive-type(0, 1.5);
}

.aui-color-text-light {
  .aui-accentuated {
    &::before {
      border-top-color: $aui-color-white;
    }
  }
}

.aui-caption {
  @include aui-responsive-type(-1, 1.5);
}

.aui-big {
  @include aui-responsive-type(1, 1.75);
}

.aui-small {
  @include aui-responsive-type(-2, 1.5);
}

.aui-blockquote {
  margin: 0;
  font-weight: normal;
  @include aui-responsive-type(1, 1.5);
}

.aui-textlink {
  padding-bottom: 0.06125em;
  border-bottom: 1px solid $aui-color-gray50;
  color: inherit;
  font-weight: $aui-font-weight-normal;
  transition: color 0.3s linear, border 0.3s linear;

  &:hover {
    color: $aui-color-black;
    border-bottom-color: $aui-color-black;
  }

  &:focus {
    outline: none;
  }

  &:visited {
    opacity: 0.6;
  }
}

.aui-color-text-light {
  .aui-textlink {
    border-bottom-color: rgba(#fff, 0.3);

    &:hover {
      color: $aui-color-white;
      border-bottom-color: $aui-color-white;
    }
  }
}

sup,
sub {
  position: relative;
  bottom: -0.275em;
  vertical-align: baseline;
  font-size: 53.8%;
  font-variation-settings: "wdth" 108, "wght" 660;
}

sup {
  top: -0.68em;
}
