$aui-progress-color: $aui-color-gray90 !default;
$aui-progress-color-progress: $aui-color-progressive-red !default;

.aui-progress {
  position: relative;
  height: unit(1);
  background: $aui-progress-color;
  overflow: hidden;

  &__bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $aui-progress-color-progress;

    transform-origin: 0% 0%;
  }

  &--continuous &__bar {
    animation: aui-progress 1s cubic-bezier(0.85, 0, 1, 1) 0s infinite normal none running;
  }
}

@keyframes aui-progress {
  0% {
    transform: translateX(0%) scaleX(0);
  }

  50% {
    transform: translateX(20%) scaleX(0.5);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
