$aui-pager-color: rgba(#fff, 0.5);
$aui-pager-color-active: rgba(#fff, 1);

.aui-pager {
  &.aui-theme-light {
    color: $aui-pager-color;

    .aui-pager__current {
      color: $aui-pager-color-active;
    }

    .aui-pager__next:hover:not(.is-disabled),
    .aui-pager__prev:hover:not(.is-disabled) {
      color: $aui-pager-color-active;
    }
  }
}
