$aui-pager-color: $aui-color-gray50;
$aui-pager-color-active: $aui-color-white;

.aui-pager {
  &.aui-theme-light {
    color: $aui-pager-color;

    .aui-pager__current {
      color: $aui-pager-color-active;
    }

    .aui-pager__next:hover:not(.is-disabled),
    .aui-pager__prev:hover:not(.is-disabled) {
      color: $aui-pager-color-active;
    }
  }
}
