.test-snippet {
  &-title {
    margin: unit(6) 0 calc(#{unit(4)} - 1px);
    @include fontfamily;
    font-size: 12px;
    font-weight: bold;
    line-height: unit(4);
    color: white;
    background: rgba($demo-highlight, .5);
    padding: unit(1) unit(2);
  }

  &-divider {
    height: unit(4);
  }
}
